<section class="rm-compare">
  <app-header></app-header>
  <div class="rm-compare__content">
    <div class="rm-compare__tobi">
      <span class="tobi"></span>
      <article>
        <p>
          Estos son los móviles que te han gustado
        </p>
      </article>
      <span>09:52</span>
    </div>

    <ng-container *ngIf="terminalsCompare">
      <div class="rm-compare__mobile" *ngFor="let terminal of terminalsCompare">
        <article class="rm-compare__card">
          <div class="rm-compare__distribution">
            <picture class="rm-compare__picture">
              <img [src]="urlImage(terminal.imagenFrontal)" alt="Imagen del teléfono">
            </picture>
            <div class="rm-compare__info">
              <h3>{{terminal.nombre}} {{terminal.memoriaInterna}}</h3>
              <p>con la tarifa móvil Ilimitada Maxi </p>
              <a href="#"> Volver a ver </a>
            </div>
          </div>
          <button type="button" class="rm-compare__btn"> ¡Lo quiero!</button>
        </article>
      </div>
    </ng-container>


    <div class="rm-compare__message">
      <a routerLink="/">Volver a empezar</a>
    </div>

    <!--<div class="rm-compare__message">
      <p>Revisar los descartados</p>
    </div>-->


  </div>


</section>
