.rm-compare {
  background-color: #e5e5e5;
  min-height: 100vh;

  &__content {
    padding: 40px 12px;
  }
  &__tobi {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding-left: 48px;
    margin-bottom: 16px;

    .tobi {
      position: absolute;
      top: 0;
      left: 0;
    }

    > article {
      max-width: 254px;
      border-radius: 12px;
      background-color: white;
      padding: 4px 16px;
      color: #333333;
      margin-bottom: 12px;

      > p {
        font-size: 18px;
        margin-bottom: 0;
        font-weight: normal;
      }
    }

    > span {
      padding-left: 16px;
      display: inline-block;
      font-size: 14px;
      color: #666666;
    }
  }

  &__message {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 28px;

    > p {
      width: 254px;
      border-radius: 12px;
      background-color: white;
      padding: 4px 16px;
      color: #e60000;
      font-size: 18px;
      text-align: center;
    }
  }

  &__mobile {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-bottom: 16px;
  }
  &__card {
    width: 282px;
    min-height: 224px;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    h3,
    p {
      font-size: 20px;
      font-weight: 300;
      letter-spacing: normal;
      color: #333333;
      margin-bottom: 4px;
    }
  }
  &__distribution {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-bottom: 16px;
    gap: 12px
  }

  &__btn {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: #e60000;
    color: white;
  }
  &__picture {
    max-width: 100px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
