<section class="rm-chat">
  <app-header></app-header>
  <div class="rm-chat__dialog">
    <div class="rm-chat__message" *ngIf="!initGreetings" (click)="initDialog()">
      <button type="button">! Comencemos ¡</button>
    </div>
    <div *ngIf="initGreetings" class="rm-chat__user">
      <article>
        <p>Tobi, recomiendame un teléfono móvil</p>
      </article>
      <span>{{getHoursMinutes()}}
        <mva10-c-icon
          [size]=16
          [title]="'check'"
          [iconId]="'icon-tick-outline'">
        </mva10-c-icon>
      <mva10-c-icon
        [size]=16
        [title]="'check'"
        [iconId]="'icon-tick-outline'">
        </mva10-c-icon></span>
    </div>


    <ng-container *ngFor="let dialog of dialogs">
      <div class="rm-chat__tobi" *ngIf="dialog?.greetings">
        <span class="tobi"></span>
        <article>
          <p>
            {{dialog.greetings.text}}
          </p>
        </article>
        <span>{{getHoursMinutes()}}</span>
      </div>

      <ng-container *ngIf="dialog?.display">
        <div class="rm-chat__tobi">
          <span class="tobi"></span>
          <article>
            <p>
              {{dialog?.display.questions}}
            </p>
          </article>
          <span>{{getHoursMinutes()}}</span>
        </div>

        <div class="rm-chat__selection">
          <ul>
            <li *ngFor="let answer of dialog?.display.answers">
              <button class="rm-chat__selection-btn active"
                      type="button"
                      [ngClass]="{'active': display === answer.value}"
                      (click)="handleSelectorDisplay(answer.value)"> {{answer.text}} </button>
            </li>
          </ul>
        </div>
      </ng-container>
      <ng-container *ngIf="dialog?.price">
        <div class="rm-chat__tobi">
          <span class="tobi"></span>
          <article>
            <p>
              {{dialog?.price.questions}}
            </p>
          </article>
          <span>{{getHoursMinutes()}}</span>
        </div>

        <div class="rm-chat__selection">
          <ul>
            <li *ngFor="let answer of dialog?.price.answers">
              <button class="rm-chat__selection-btn active"
                      type="button"
                      [ngClass]="{'active': price === answer.value}"
                      (click)="handleSelectorPrice(answer.value)"> {{answer.text}} </button>
            </li>
          </ul>
        </div>
      </ng-container>
      <ng-container *ngIf="dialog?.use">
        <div class="rm-chat__tobi">
          <span class="tobi"></span>
          <article>
            <p>
              {{dialog?.use.questions}}
            </p>
          </article>
          <span>{{getHoursMinutes()}}</span>
        </div>

        <div class="rm-chat__selection">
          <ul>
            <li *ngFor="let answer of dialog?.use.answers">
              <button class="rm-chat__selection-btn active"
                      type="button"
                      [ngClass]="{'active': use === answer.value}"
                      (click)="handleSelectorUse(answer.value)"> {{answer.text}} </button>
            </li>
          </ul>
        </div>
      </ng-container>
      <ng-container *ngIf="dialog?.apps">
        <div class="rm-chat__tobi">
          <span class="tobi"></span>
          <article>
            <p>
              {{dialog?.apps.questions}}
            </p>
          </article>
          <span>{{getHoursMinutes()}}</span>
        </div>
        <div class="rm-chat__selection rm-chat__selection--multi">
          <ul>
            <li *ngFor="let answer of dialog.apps.answers">
              <button class="rm-chat__selection-btn"
                      type="button"
                      [ngClass]="{'active': isActiveApps(answer.value)}"
                      (click)="handleMultiSelectorApps(answer.value)"> {{answer.text}}</button>
            </li>

          </ul>
          <div class="rm-chat__message" *ngIf="isBtnAppsVisible" (click)="handleSaveMultiSelectorApps()">
            <button type="button">Guardar Apps</button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="dialog?.game">
        <div class="rm-chat__tobi">
          <span class="tobi"></span>
          <article>
            <p>
              {{dialog?.game.questions}}
            </p>
          </article>
          <span>{{getHoursMinutes()}}</span>
        </div>
        <div class="rm-chat__selection rm-chat__selection--multi">
          <ul>
            <li *ngFor="let answer of dialog.game.answers">
              <button class="rm-chat__selection-btn"
                      type="button"
                      [ngClass]="{'active': isActiveGames(answer.value)}"
                      (click)="handleMultiSelectorGame(answer.value)"> {{answer.text}}</button>
            </li>

          </ul>
          <div class="rm-chat__message" *ngIf="isBtnGameVisible" (click)="handleSaveMultiSelectorGame()">
            <button type="button">Guardar Games</button>
          </div>
        </div>

      </ng-container>
      <ng-container *ngIf="dialog?.content">
        <div class="rm-chat__tobi">
          <span class="tobi"></span>
          <article>
            <p>
              {{dialog?.content.questions}}
            </p>
          </article>
          <span>{{getHoursMinutes()}}</span>
        </div>
        <div class="rm-chat__selection">
          <ul>
            <li *ngFor="let answer of dialog?.content.answers">
              <button class="rm-chat__selection-btn active"
                      type="button"
                      [ngClass]="{'active': content === answer.value}"
                      (click)="handleSelectorContent(answer.value)"> {{answer.text}} </button>
            </li>
          </ul>
        </div>

      </ng-container>
      <ng-container *ngIf="dialog?.final">
        <div class="rm-chat__message">
          <button type="button">¡ Terminado !</button>
        </div>

        <div class="rm-chat__tobi">
          <span class="tobi"></span>
          <article>
            <p>
              {{dialog?.final.question}}
            </p>
          </article>
          <span>{{getHoursMinutes()}}</span>
        </div>
        <div class="rm-chat__message">
          <button type="button" (click)="sendStatus()">Quiero ver mis recomendaciones</button>
        </div>
      </ng-container>
    </ng-container>
    <div *ngIf="isLoadingShow" class="rm-chat__loading">
      <div class="rm-chat__loading-ballon">
        <div class="rm-loading">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>


  </div>
</section>
