<section class="mva10-c-backdrop__modern rm-position-fixed--bottom">
  <div class="mva10-c-backdrop__header">
    <div class="mva10-c-backdrop__tray">
      <div class="mva10-c-backdrop__tray-corner-left"></div>
      <div class="mva10-c-backdrop__tray-gap">
        <button  routerLink="/chat" class="mva10-c-backdrop__tray-gap-tobi">
          <span class="mva10-c-backdrop__tray-gap-tobi-content"></span>
        </button>
      </div>
      <div class="mva10-c-backdrop__tray-corner-right"></div>
    </div>
    <div class="mva10-c-backdrop__subtitle">
      <ng-content select="[bd-subtitle]"></ng-content>
    </div>
    <div class="mva10-c-backdrop__title">
      <div class="mva10-c-backdrop__title-tobi"></div>
      <ng-content select="[bd-header]"></ng-content>
    </div>
  </div>
</section>



